{:paths ["src"]
 :tasks
 {go
  {:requires ([io.lvh.pdfunpassword :as u])
   :doc "Remove passwords from PDFs in specified directories.

         Usage: bb go <dir1> [dir2] ..."
   :task (apply u/-main *command-line-args*)}}}
