[{:account "company.1password.com"
  :vault "Operations"
  :name "Company EIN"
  :field-label "number"
  :filters [:digits]}
 {:account "example.1password.com"
  :vault "Finance (shared)"
  :name "Tax ID Number"
  :field-label "number"
  :filters [:digits]}
 {:account "company.1password.com"
  :vault "Personal"
  :name "User SSN"
  :field-label "number"
  :filters [:digits]}]